<!DOCTYPE html>
<html>
<head>
    <title>Banglore Home Price Prediction</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./app.js"></script>
	<link rel="stylesheet" href="app.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
<script src="{{ url_for('static', filename='app.js') }}"></script>

</head>
<body>
<div class="img"></div>
<form class="form">
	<h2>Area (Square Feet)</h2>
    <input class="area"  type="text" id="uiSqft" class="floatLabel" name="Squareft" value="1000">
	<h2>BHK</h2>
	<div class="switch-field">
		<input type="radio" id="radio-bhk-1" name="uiBHK" value="1"/>
		<label for="radio-bhk-1">1</label>
		<input type="radio" id="radio-bhk-2" name="uiBHK" value="2" checked/>
		<label for="radio-bhk-2">2</label>
		<input type="radio" id="radio-bhk-3" name="uiBHK" value="3"/>
		<label for="radio-bhk-3">3</label>
		<input type="radio" id="radio-bhk-4" name="uiBHK" value="4"/>
		<label for="radio-bhk-4">4</label>
		<input type="radio" id="radio-bhk-5" name="uiBHK" value="5"/>
		<label for="radio-bhk-5">5</label>
	</div>
	</form>
<form class="form">
	<h2>Bath</h2>
	<div class="switch-field">
		<input type="radio" id="radio-bath-1" name="uiBathrooms" value="1"/>
		<label for="radio-bath-1">1</label>
		<input type="radio" id="radio-bath-2" name="uiBathrooms" value="2" checked/>
		<label for="radio-bath-2">2</label>
		<input type="radio" id="radio-bath-3" name="uiBathrooms" value="3"/>
		<label for="radio-bath-3">3</label>
		<input type="radio" id="radio-bath-4" name="uiBathrooms" value="4"/>
		<label for="radio-bath-4">4</label>
		<input type="radio" id="radio-bath-5" name="uiBathrooms" value="5"/>
		<label for="radio-bath-5">5</label>
	</div>
		<h2>Location</h2>
	<div>
  <select class="location" name="" id="uiLocations">
    <option value="" disabled="disabled" selected="selected">Choose a Location</option>
		<option>Electronic City</option>
        <option>Rajaji Nagar</option>
  </select>
</div>
	<button class="submit" onclick="onClickedEstimatePrice()" type="button">Estimate Price</button>
	<div id="uiEstimatedPrice" class="result">	<h2></h2> </div>
</body>
</html>



<!-- 
Initially, the deck is [1, 2, 3, 4, 5].

Pick the first card and place it at the back: [2, 3, 4, 5, 1].
Pick the next card (1) and place it outside: [2, 3, 4, 5] (1).
Pick 2 cards and place them at the back: [4, 5, 2, 3].
Pick the next card (2) and place it outside: [4, 5, 3] (2).
Pick 3 cards and place them at the back: [3, 5, 4].
Pick the next card (3) and place it outside: [5, 4] (3).
Pick 4 cards and place them at the back: [4, 5].
Pick the next card (4) and place it outside: [5] (4).
Pick the last card and place it outside: [] (5).
So, the final arrangement is [1, 2, 3, 4, 5]. -->